body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
  background-color: rgb(42, 75, 110);
}

.subpages {
  height: 100%;
  background-color: rgb(42, 75, 110);
}

.inner-container {
  text-align: center;
  padding-top: 5%;
}

.title {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Bungee Hairline", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 5px;
}

.subtitle{
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: underline;
}

.seperation-line {
  border: 1px solid white;
}

.riding-bicycle {
  position: relative;
  font-size: 6rem;
  color: rgb(238, 202, 46);
  text-align: center;
}

#map {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 0px;
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.loading-message {
  color: rgb(0, 0, 0);
}

.error-message {
  color: rgb(95, 15, 15);
}

/** Display of vote result */

.vote-result-title {
  font-size:1.5em;
  font-weight:900;
}

.vote-average {
  font-weight: 800;
  background-color: rgb(42, 75, 110);
  padding: .5rem;
}

.vote-result-item {
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: .9rem;
  margin-bottom: .2rem;
  .result-item-label {
    font-weight: 800;
  }
}

.leaflet-popup-scrolled {
  border-bottom: 0px;
  border-top: 0px
}

.leaflet-popup-content p {
  margin: 10px 0;
}

.color-4, .color-5 {
  border: 2px solid rgb(25, 145, 25);
}

.color-1, .color-2, .color-3 {
  border: 2px solid rgb(199, 24, 24);
}

/* login-logout-register menu */
#menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(42, 75, 110);
  position: relative;
  height: 2.5rem;
  width: 100%;
  z-index: 2090;
}
.menu-group {
  display: flex;
}

.menu-link {
  font-family: "Rajdhani";
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

#login-message, #logout-message {
  color: rgb(238, 202, 46);
  background-color: white;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px;
  top: 7%;
}

#logged-in-menu {
  display: flex;
}

.hide{
  display: none !important;
}

.menu-group {
  font-size: 1.2rem;
}

.menu-group-left {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
}
.menu-group-right {
  margin-right: 1rem;
}


#login_link,
#username, #register-link {
  margin-right: 2rem;
  text-transform: uppercase;
  color: white;
}

.menu-link a:hover {
  color: rgb(238, 202, 46);
}

/*login form */
#login_container {
  // background-color: #c7c1c1;
  padding: 6px;
  min-height: 97%;
}
.form_title {
  font-family: "Bungee Hairline", cursive;
  text-align: center;
}
#login_form {
  text-align: center;
  input {
    border: 1px solid black;
  }
}
//forgot pswd/register link
center {
  a {
    color: black;
  }
}

#error-msg {
  color: red;
  text-align: center;
}

/* end login form */

/* register form */
.title-form {
  color: white;
  font-family: "Bungee Hairline", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 5px;
}
#register_container {
  width: 50%;
  margin: 50px auto 0px auto;
  color: rgb(240, 236, 236);
  border: 2px solid rgb(240, 236, 236);
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#register-form {
  margin: 40px 0 18px;
}

.register-success {
  font-size: large;
  text-align: center;
  margin-top: 4rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.helptext {
  display: block;
  margin-top: 1rem;
}

.alert{
  color: crimson;
}

/* end register form */

/* profile pages */

.edit-btn {
  border: 2px solid rgb(255, 199, 15);
  border-radius: 5px;
  color: white;
  padding: 3px 7px;
  background-color: transparent;
  font-family: "Rajdhani";
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 199, 15);
  }
}

.cancel-btn {
  border: 2px dashed rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  padding: 3px 7px;
  background-color: transparent;
  font-family: "Rajdhani";
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
  &:hover {
    background-color: black;
  }
}

.btn {
  border: none;
  color: white;
  font-family: "Rajdhani";
  padding: .2rem .7rem !important;
  border-radius: 5px;
}

.bg-blue {
  background-color: cornflowerblue;
}
.bg-red{
  background-color: crimson;
}
.bg-orange{
  background-color: orange;
}

.bg-green {
  background-color: #3ddc9a;
}

.btn-center {
  display: block;
  text-align: center;
}

/* end profile pages */

.credit {
  text-align: center;
  color: white;
  /* font-family: "Rajdhani", sans-serif; */
  background-color: rgb(160, 154, 154);
  width: fit-content;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

#town_choice_div a {
  color: red;
}

/* vote transfer */

.vote-maps{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
#vote-info{
  border: 1px solid black;
  padding: 1rem;
  width: 20%;
  max-height: 300px;
  overflow: scroll;
}
#maps-container{
  border: 1px solid black;
  width: 70%;
  display: flex;
  height: 202px;
}
.map{
  width: 50%;
  border: 1px solid black;
  height: 200px;
}

#transfer-vote-form{
  margin-top: 3rem;
}
.label{
  margin-top: 1rem;
  margin-right: 1rem;
}
.submit_btn{
  margin-top: 1rem;
}

.no-margin-left{
  margin-left: 0;
}

/* voting form */
.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

#vote_value {
  display: flex;
  justify-content: flex-end;
  unicode-bidi: bidi-override;
  direction: rtl;
  position: relative;
}

#vote_value > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

#vote_value > label:hover,
#vote_value > label:hover ~ label,
#vote_value > input.radio-btn:checked ~ label {
  color: transparent;
}

#vote_value > label:hover:before,
#vote_value > label:hover ~ label:before,
#vote_value > input.radio-btn:checked ~ label:before,
#vote_value > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}

select {
  max-width: 220px;
}

//legend stars
.fill-1{
  color: #FF0000;
}
.fill-2{
  color: #ff9900;
}
.fill-3{
  color: #ffd700;
}
.fill-4{
  color: #94a900;
}
.fill-5{
  color: #008000;
}
//media queries

@media screen and (max-width: 500px) {
  #main-title {
    display: none;
  }

  #login-message, #logout-message {
    left: 26%;
  }
}
