// FROM SYMFONY CSS

body {
    padding: 0;
    margin: 0;
}
  
html, body {
    width: 100%;
    height: 100%;
}
  
// OLD GUMBY

li {
    padding-bottom: 0.273em;
}
  
ol, ul {
    list-style: none;
}
  
ul {
    margin: 0;
    padding: 0;
}
  
a {
     color: #d04526;
     text-decoration: none;
     outline: 0;
     line-height: inherit;
}
    
  
// BTN

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}
  
// FORM

form label.inline {
    display: inline-block;
    padding-right: 20px;
}
  
form label {
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625em;
    cursor: pointer;
    margin-bottom: 9px;
}
  
.field {
    position: relative;
    max-width: 100%;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 16px;
    overflow: hidden;
}

#button-wrapper {
    position: absolute;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.with-shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
  
.bg-red {
    background-color: #dd0000;
}
  
.bg-orange {
    background-color: #cc6c00;
}
  
.bg-blue {
    background-color: #3085d6;
}
  
#update_message {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
  
.red {
    background-color: #ff0000;
}
  
.segments-stop-start-div-icon {
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-weight: 900;
    font-size: 13px;
    background-color: #3085d6;
    opacity: 0.8;
    line-height: 25px;
}
  

.intersection_segment_label_icon, .intersection_segment_label_icon_selected {
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 13px;
    background-color: #fff;
    opacity: 0.7;
    line-height: 25px;
    border: solid;
    border-width: 1px;
}
  
.intersection_segment_label_icon_selected {
    background-color: #ff0;
    opacity: 0.8;
}
  
.leaflet-popup-tip-container {
    display: none;
}
  
.leaflet-popup-content-wrapper {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
  
.leaflet-top .leaflet-control {
    margin-top: 60px;
}
  
#button-wrapper a.select2-choice {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
  
.vote_way, .vote_way_segment {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 900;
    font-size: 15px;
}
  
  .field-vote-value {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 1em;
  }
  
.label-vote-value {
    padding-right: 3px;
    display: inline-block;
}
  
.cl-field-input, .cl-field-select {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 0.275em;
}
  
.cl-label-input, .cl-label-select {
    width: 35%;
    padding-right: 5%;
    display: inline-block;
}
  
.cl-select, .cl-input {
    height: 26px;
    line-height: 24px;
    width: 60%;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1rem;
}
  
.cl-input {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 0 10px;
    position: relative;
}
  
.hidden {
    display: none;
}
  
.cl-form-message {
    padding-bottom: 1em;
}
  
#town_choice_and_help {
    float: right;
    line-height: 2.5em;
}
  
#town_choice_and_help img {
    height: 1.5em;
    vertical-align: middle;
    cursor: pointer;
    padding-right: 0.5em;
}
  
.btn-with-margin {
    margin-top: 15px;
}

.li-profile {
    padding-top: 20px;
    padding-bottom: 20px;

    label {
      display: inline;
    }

    input {
      display: inline;
      margin-left: 5px;
      width: auto;
    }
}

.msg {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
 
    ul {
       color: #333333;
       list-style: inside;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: 20px;
    }
}
 
div.info.legend.leaflet-control {
    z-index: 9;
    position: absolute;
    bottom: 3em;
    left: 0.5em;
    width: 300px;
    height: 205px;
    background-color: white;
    opacity: 0.7;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    padding: 1em;
    box-sizing: border-box;

    h3 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 0.5em;
    }

    li {
        list-style: none;
        i {
            display: inline-block;
            width: 13px;
            height: 10px;
        }
        b {
            margin-left: 5px;
        }
    }
}

button.toggleLegend.leaflet-control {
    position: absolute;
    bottom: 4em;
    left: 2em;
    z-index: 10;
    width: 100px;
    padding: 0;
    margin: 0;
}