{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "About us" %} - Cyclabilité</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}"></link>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div id="menu">
            <nav>
                <ul>
                <li>
                    <a href="index.html">
                        {% trans "Help" %}
                    </a>
                </li>
                <li>
                    <a href="data.html">
                        {% trans "Data" %}
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        {% trans "About us" %}
                    </a>
                </li>
                </ul>
            </nav>
        </div>

        <div id="content">
            <p><a href="{% url 'index' %}">{% trans "Return to map" %}</a></p>
            <h1>{% trans "About us" %}</h1>
            <p>
                L'outil a été développé pour l'association
                <a href="http://www.droitauvelo.org/" target="_blank">Droit au vélo – ADAV</a>.
                Cette carte est financé par <b>Hauts de France Mobilité</b> dans le cadre de son projet de plateforme
                intermodale <a href="https://www.passpass.fr" target="_blank">Passpass.fr</a>. Elle a également été financé
                par le <b>Conseil Départemental du Nord</b> ainsi que par la <b>Communauté Urbaine de Dunkerque.</b>
            </p>
            <p>
                Cet outil a été développé par <a href="http://champs-libres.coop/" target="_blank">Champs-Libres</a>
                une société coopérative à finalité sociale qui crée des applications,
                fournit des géo-services et supporte le logiciel libre.
            </p>
            <p>
                L'outil est "open source". Le code source se trouve sur
                <a href="https://gitlab.com/cyclabilite" target="_blank">https://gitlab.com/cyclabilite</a>.
            </p>
        </div>
    </body>
</html>