{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "Data" %} - Cyclabilité</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}"></link>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div id="menu">
            <nav>
                <ul>
                <li>
                    <a href="index.html">
                        {% trans "Help" %}
                    </a>
                </li>
                <li>
                    <a href="data.html">
                        {% trans "Data" %}
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        {% trans "About us" %}
                    </a>
                </li>
                </ul>
            </nav>
        </div>

        <div id="content">
            <p><a href="{% url 'index' %}">{% trans "Return to map" %}</a></p>
            <h1>{% trans "Data" %}</h1>
            <p>
                Un export quotidien des notes est disponible en fichier .csv :
                <br><br>
                <a href="https://cyclabilite.droitauvelo.org/export/" target="_blank">https://cyclabilite.droitauvelo.org/export/</a>
            </p>

            <p>
                Pour l'utiliser, il faut utiliser <b>le logiciel QGIS</b> et joindre ce fichier au réseau routier
                Openstreetmap format ESRI Shapefile, du
                <a href="https://download.geofabrik.de/europe/france/nord-pas-de-calais.html" target="_blank">Nord Pas-de-Calais</a>
                et de la <a href="https://download.geofabrik.de/europe/france/picardie.html" target="_blank">Picardie</a>, disponibles sur
                Geofabrik.
            </p>
            <p>
                N'hésitez surtout pas à nous <a href="https://www.champs-libres.coop/" target="_blank">contacter</a> afin de
                vous aider dans la récupération des données.
            </p>
        </div>
    </body>
</html>