{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "Data" %} - Cyclabilité</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'export_csv' %}">{% url 'export_csv' %}</a></href></li>
        </ul>
    </body>
</html>