{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "Help" %} - Cyclabilité</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}"></link>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <div id="menu">
            <nav>
                <ul>
                <li>
                    <a href="index.html">
                        {% trans "Help" %}
                    </a>
                </li>
                <li>
                    <a href="data.html">
                        {% trans "Data" %}
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        {% trans "About us" %}
                    </a>
                </li>
                </ul>
            </nav>
        </div>

        <div id="content">
            <p><a href="{% url 'index' %}">{% trans "Return to map" %}</a></p>

            <h1>{% trans "Help" %}</h1>

            <h2>Principe général</h2>

            <p>
                <b>La carte de cyclabilité</b> est une carte collaborative qui vous permet, en tant que cycliste, 
                de <b>noter votre ressenti sur la possibilité de circuler à vélo en sécurité</b> sur les voies 
                de la région. Son objectif est de représenter, le plus objectivement, la cyclabilité du territoire 
                et de <b>conseiller les cyclistes dans leur recherche d’itinéraire.</b>
            </p>

            <p>
                Les rues et routes « agréables » à vélo figurent en vert, tandis que les axes les plus dangereux
                figurent en rouge. Afin que tous les avis soient pris en compte, <b>une moyenne est calculée
                pour chaque voie.</b> Les données sont sous licence libre (OdBL).
            </p>

            <p>
                L’ensemble des notes permet d’alimenter <b>le calculateur d’itinéraire passpass.fr</b>, la
                plateforme régionale gérée par le syndicat mixte <i>Hauts-de-France Mobilité.</i> L’outil
                Passpass permet d’accompagner l’usager sur l’ensemble de sa chaîne de déplacements
                avec la possibilité de combiner les alternatives à l’usage de la voiture individuelle et
                passer indifféremment d’un opérateur de transport ou de mobilité à l’autre.
            </p>

            <h2>Les critères</h2>

            <p>
                <b>La cyclabilité d’une voie</b> dépend principalement de :

                <ul>
                <li> la qualité et la pertinence des <b>aménagements cyclables</b></li>
                <li> la densité et la vitesse du <b>trafic automobile</b></li>
                <li> la qualité du <b>revêtement de la voie</b></li>
                </ul>
            </p>

            <div class="mx-auto" style="width: 800px;">
                <img src="https://droitauvelo.org/local/cache-vignettes/L640xH339/rue_agreable_a_velo-448a9.jpg?1537295120" height="250" class="mx-auto" >
            </div>

            <p>
                <b>Sur ces critères, vous pouvez attrbuer une note globale, allant de 1 à 5 : </b>
            </p>

            <div class="mx-auto" style="width: 600px;">
                <img src="https://droitauvelo.org/IMG/jpg/legende_cyclabilite.jpg" height="200">
            </div>

            <h2>Créez votre compte...</h2>

            <ol>
                <li>
                <b>Choisisez votre identifiant</b> et saisissez vos adresse email et mot de passe.
                </li>
                <li>
                <b>Confirmez votre inscription</b>, en cliquant sur le lien, contenu dans l’email
                de confirmation d’inscription reçu en retour.
                </li>
                <li>
                Afin de connaître la pratique des contributeurs,
                <b>choissisez un ou plusieurs profils de cycliste</b> :
                <ul>
                    <li><b>Champion</b> (Vous roulez dans la circulation).</li>
                    <li><b>Tortue</b> (Vous évitez les axes à forte circulation).</li>
                    <li><b>Louveteau</b> (Vous circulez avec des enfants).</li>
                </ul>
                </li>
            </ol>

            <div class="mx-auto" style="width: 300px;">
                <img src="../../static/images/onglet_se_connecter.png" width="150" >
            <br><br>
                <img src="../../static/images/creer_un_compte.png" width="150" >
            </div>

            <h2>Et contribuez !</h2>

            <ol>
                <li><b>Cliquez sur la rue.</b></li>
                <li>
                Regardez les notes déja attribuées, puis
                <b>cliquez sur «Voter» afin d’ajouter la vôtre.</b>
                </li>
                <li>
                Choisissez également <b>votre profil de
                cycliste,</b> ainsi que <b>le sens de circulation.</b>
                </li>
            </ol>

            <div class="mx-auto" style="width: 300px;">
                <img src="../../static/images/capture_note.jpeg" height="250" >
            </div>



            <p>
                <b>Pour aller plus loin</b> :
                <a href="http://droitauvelo.org/IMG/pdf/presentation_cyclabilite_v2_lille_180517_2.pdf" target="_blank">
                regardez cette présentation
                </a> afin de vous familliariser à ce concept de cycalbilité ainsi qu'à l'utilisation de la carte.
            </p>

            <p>
                Retrouvez plus d'information sur notre site internet : 
                <a href="https://droitauvelo.org/La-carte-de-cyclabilite-du-Nord-et-du-Pas-de-Calais" target="_blank">
                Droitauvelo.org section cartographie
                </a>
            </p>
        </div>
    </body>
</html>