{% extends "../base.html" %}
{% load i18n %}
  {% block content %}
    <div id="js-data" data-user="{{ user.id }}"></div>
    <div class="container">
      <div id="menu">
        <div class="menu-group menu-group-left">
          <div>
            <p title="Registrer" class="menu-link">
              <a href={% url 'register' %} id='register-link'>{% translate "Register" %}</a>
            </p>
          </div>
          <div id="username" class="hide">
            {% if user is not null and user.id is not null  %}
              <p title="Voir information personelle" class="menu-link">
                <a href={% url 'user_detail' user_id=user.id %}>{{ user.username }}</a>
              </p>
            {% endif %}
          </div>
        </div>
        <h1 class="title" id="main-title">cyclabilité</h1>
        <p id='login-message' class="hide">Vous êtes connecté</p>
        <p id='logout-message' class="hide">Vous êtes déconnecté</p>
        <div class="menu-group menu-group-right">
          <p id="login_link" class="menu-link">
            <a href="{% url 'login' %}" id="log-in-link">Login</a>
          </p>
          <div id="locate_link" class="menu-link">
            <a title="Choisir une ville" id="town_choice_link" href="#town_choice_div"><i class="bi bi-geo-alt"></i></a>
          </div>
          <div id="help_link" class="menu-link">
            <a title="Voir info" href="help/index.html"><i class="bi bi-question-square"></i></a>
          </div>
          <div id="logged-in-menu" class="hide">
            <div id="logout_link" class="menu-link">
              <a title="Déconnecter" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div id="map">
        <div id="button-wrapper" style="z-index: 1000">
          <div id="loading-message" class="bg-blue btn with-shadow hidden">
            Chargement des données
          </div>
          <div id="error-message" class="bg-red btn with-shadow hidden">
            Erreur de chargement
          </div>
          <div id="zoom-message" class="bg-orange btn with-shadow hidden">
            Veuillez zoomer
          </div>
        </div>
      </div>
    </div>

    <div style='display:none'>
      <div id='town_choice_div'>
        <ul>
          {% for city in cities %}
            <li><a href="#{{ city.city_name }}">{{ city.city_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>


    <!--Custom JS-->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    {% include './voting.html' %} {% load static %}
    <script src="{% static 'dist/app.js' %}"></script>
  {% endblock %}
