{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% trans "Profiles" %}</title>
  </head>
  <body>
    <div class="container subpages">
      <div class="inner-container">
          <h1 class="title">{% trans "Profiles" %}</h1>
          {% if not user.is_authenticated %}
          <a href="../" class="btn home-btn btn-center">{% trans "Return home" %}</a>
          <p class="login-message">{% trans "Login first to see your profiles" %}</p>
          {% endif %} {% if user.is_authenticated%}
          <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <button type="submit" class="edit-btn">{% trans "Create new profile" %}</button>
          </form>

          <ul class="profile-list">
            {% for profile in profiles %}
            <div class="list-item">
              <li class="profile-label">
                <h3>{% trans "Profile" %}: {{ forloop.counter }}</h3>
                <p>{% trans "Type of rider" %}: {{ profile.get_rider_type_display }}</p>
                <p>{% trans "Speed" %}: {{ profile.get_rapidity_display}}</p>
                {% comment %}
                <a href="./{{ profile.id }}" class="edit-btn">{% trans "Edit profile" %}</a>
                {% endcomment %}
              </li>
            </div>
            {% endfor %}
          </ul>
          <button class="cancel-btn"><a href="../" class="menu-link home">{% trans "Cancel" %}</a></button>
        </div>
        {% endif %}
    </div>
  </body>
</html>
