{% extends '../base.html' %}
{% load i18n %}
  {% block content %}
    <div class="container subpages">
      <div class="inner-container">
        <h1 class="title-form">{% trans "Edit your personal information" %}</h1>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
          {% endif %}
          <form id="register-form" method="POST">
            {% csrf_token %} {{form.as_p}}
            <button class="cancel-btn"><a href="{% url 'index' %}" class="home">{% trans "Home" %}</a></button>
            <button class="edit-btn">{% trans "Save" %}</button>
          </form>
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>
  {% endblock %}
