{% verbatim %}
<script type="text/template" id="please_log_in">
   Merci de vous authentifier pour pouvoir voter.
</script>

<script type="text/template" id="no_vote">
   Pas de vote enregistré
</script>

<script type="text/template" id="vote-item-list-tpl">
   Auteur : {{ author.label }} <br />
   Vote : {{ value }}<br />
   {{ #intersection_path }}
      de  {{ segment_start.properties.intersection_id }}  à  {{ segment_end.properties.intersection_id }}
   {{/intersection_path}}
   {{^intersection_path}}
      Direction : {{#direction_forward}}de A à B{{/direction_forward}}{{#direction_backward}}de B à A{{/direction_backward}}{{#direction_both}}non précisée{{/direction_both}}<br />
   {{/intersection_path}}
   Profil :
   ( Trajet journalier : {{#profile.daily_ride}}Vrai{{/profile.daily_ride }}{{^profile.daily_ride}}Faux{{/profile.daily_ride }},
      Rapidité ou sécurité : {{ profile.rapidity_vs_security_label }} )
   <br />
   <br />
</script>

<script type="text/template" id="result-tpl">
   <div style="text-align: center;">
      <input class="medium default" id="display-vote-form-{{ entity_id }}" type="submit" value="Voter" />
   </div>

   <div>
      <span class="vote-result-title">Résultats:</span>
      {{#vote_average}}
         <p class="vote-average fill-3"><span class="result-item-label">Moyenne des votes: </span><span>{{ vote_average }} / 5</span></p>
      {{/vote_average}}
      {{{ content }}}
   </div>
</script>

<script type="text/template" id="result-vote-item-list-tpl">
   <div class="vote-result-item color-{{ vote_value }}">
      <p><span class="result-item-label">Valeur: </span><span>{{ vote_value }} / 5</span></p>
      <p><span class="result-item-label">Auteur: </span><span>{{ username }}</span></p>
      <p><span class="result-item-label">Raison: </span><span>{{ reason_text }}</span></p>
      <p><span class="result-item-label">Direction: </span><span>{{ direction }}</span></p>
   </div>
</script>

<script type="text/template" id="please_log_in">
   Merci de vous authentifier pour pouvoir voter.
</script>

<script type="text/template" id="vote-form_segment">
   <form id="{{ id_vote_form }}" method="POST">
      <p>Vote pour segments sélectionnés<p>
      <div class='form-content'>
         <input type='hidden' id='hidden_csrf' name='csrfmiddlewaretoken' value="{{ csrf_token }}" >
         <input type='hidden' id='profile' name='profile' value=''> <!-- TODO REMOVE IT-->
         <input type='hidden' id='user' name='user' value='{{ user_id }}'>
         <label for='vote_value'>Cyclabilité: peu cycl. - très cycl.</label>
            <div id="vote_value">
               <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
               <label for="star5">☆</label>
               <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
               <label for="star4">☆</label>
               <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
               <label for="star3">☆</label>
               <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
               <label for="star2">☆</label>
               <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
               <label for="star1">☆</label>
               <div class="clear"></div>
            </div>
         <label for='reasons'>Raison du vote</label>
            <select id='vote_reasons'>
               {{ #vote_reasons }}
               <option value="{{ id }}">{{ description }}</option>
               {{ /vote_reasons }}
            </select>
         <label class="label" for='segm_direction'>Direction:</label>
            <select id='segm_direction'>
               <option value='BOTH'>2 sens</option>
               <option value='AB'>A -> B</option>
               <option value='BA'>B -> A</option>
            </select>
      </div>
      <div class="submit_btn no-margin-left">
         <input type="submit" value="Voter" />
      </div>
   </form>
   <div id='{{ id_vote_form }}-success' class="success" style="display:none;">Votre vote a bien été enregistré. Merci.</div>
   <div id='{{ id_vote_form }}-error-vote-value' class="error" style="display:none;">Vueillez attribuer une valeur de vote, merci!</div>
   <div id='{{ id_vote_form }}-error-default' class="error" style="display:none;">Une erreur s&#039;est produite. Veuillez recommencer ou contacter le webmaster.</div>
</script>

{% endverbatim %}
