@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Bold.eot');
    src: url('Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Bold.woff2') format('woff2'),
        url('Rajdhani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Medium.eot');
    src: url('Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Medium.woff2') format('woff2'),
        url('Rajdhani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Light.eot');
    src: url('Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Light.woff2') format('woff2'),
        url('Rajdhani-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Regular.eot');
    src: url('Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Regular.woff2') format('woff2'),
        url('Rajdhani-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-SemiBold.eot');
    src: url('Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-SemiBold.woff2') format('woff2'),
        url('Rajdhani-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bungee Hairline';
    src: url('BungeeHairline-Regular.eot');
    src: url('BungeeHairline-Regular.eot?#iefix') format('embedded-opentype'),
        url('BungeeHairline-Regular.woff2') format('woff2'),
        url('BungeeHairline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

