{% load i18n %}
<div id="login_container">
  <h2 class="form_title">{% trans "Log In" %}</h2>
  <p id="error-msg"></p>
  <form method="post" id="login_form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Log In" %}</button>
  </form>
  <center>
    <a href="{% url 'register' %}">{% trans "Register" %}</a>
    /
    <a href="{% url 'password_reset' %}">{% trans "Lost password" %}</a>
  </center>
</div>
