{% extends '../base.html' %}
{% load i18n %}
{% block content %}
<p class="register-success">{% trans "Your password has been saved succesfully" %}</p>
<p class="riding-bicycle"><i class="bi bi-bicycle animated"></i></p>
<div class="btn-container">
    <button class="edit-btn"><a href="{% url 'index' %}" class="home">Cyclabilité</a></button>
</div>
{% endblock %}