{% extends '../base.html' %}
{% load i18n %}
  {% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p class="register-success">{{ message }}</p>
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p class="register-success error-message">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
    <div class="btn-container">
      <button class="edit-btn"><a href="{% url 'index' %}" class="home">Cyclabilité</a></button>
    </div>
  {% endblock %}