{% extends '../base.html' %}
{% load i18n %}
  {% block content %}
    <div class="container subpages">
      <div class="inner-container">
        <h1 class="title-form">{% trans "Register" %}</h1>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
          <form id="register-form" method="POST">
            {% csrf_token %} {{form.as_p}}
            <button class="cancel-btn"><a href="{% url 'index' %}" class="home">{% trans "Cancel" %}</a></button>
            <button class="edit-btn">{% trans "Register" %}</button>
          </form>
      </div>
    </div>
  {% endblock %}

