{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "Check trivial transfer" %} - Cyclabilité</title>
        <link rel="stylesheet" href="{% static 'dist/app.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script src="{% static 'dist/admin_trivial_check.js' %}"></script>

        <h1>Apperçu des transferts automatiques (cas triviaux)</h1>


        <div>
            Voici des exemples détecté par l'outil de transfert automatique. Le
            transfert sera exécuté seulement si vous lancer la procédure à l'aide
            du bouton en fin de page.
        </div>

        <div>
            <h2>Paramètres</h2>

            Buffer autour des anciens segments : {{ del_buffer_size }}<br>
            Buffer autour des nouveaux segments : {{ new_buffer_size }}<br>
            Montant des segments dans le buffer : {{ seg_in_buffer }}<br>
        </div>

        <div>
            <a href="">Voir les stats pour les transferts automatiques</a>
        </div>

        {% for transfer in trivial_transfer %}
            <h2>
                Transfert {{ forloop.counter }} :
                segment #{{ transfer.del_seg.id }} (way
                    <a href="https://www.openstreetmap.org/way/{{ transfer.del_seg.way.id }}">
                        #{{ transfer.del_seg.way.id }}</a>)
                vers segment #{{ transfer.new_seg.id }} (way
                    <a href="https://www.openstreetmap.org/way/{{ transfer.new_seg.way.id }}">
                        #{{ transfer.new_seg.way.id }}</a>)
            </h2>
            <div id="map-container{{ forloop.counter }}" class="grid-container map-container">
                <div id="map-from-container{{ forloop.counter }}" style="padding:5px; grid-column: 1; grid-row: 1;">
                    <div
                        id="map-from{{ forloop.counter }}"
                        class="map-from"
                        style="height: 180px;"
                        data-json='{{ transfer.del_seg_json | safe }}'>
                    </div>
                </div>
                <div id="map-to-container{{ forloop.counter }}" style="padding:5px; grid-column: 2; grid-row: 1;">
                    <div
                        id="map-to{{ forloop.counter }}"
                        class="map-to"
                        style="height: 180px;"
                        data-json='{{ transfer.new_seg_json | safe }}'>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div style="margin-top:40px; text-align:center; width: 100%">
            <div class="btn danger medium" style="display:inline-block">
                <a 
                    href="{% url 'handle_trivial_transfer' vote_nbr_to_handle=100  %}"
                    class="button red">{% trans "Lancer le transfert"  %}</a>
            </div>
        </div>
    </body>
</html>