{% load i18n %}
<!doctype html>
<html>
    <head>
    </head>
    <body>
        <p>
            Transfer done for the {{ vote_nbr_to_handle }} deleted segments
        </p>

        <p>
            <a href="{% url 'handle_trivial_transfer' vote_nbr_to_handle=vote_nbr_to_handle %}">{% trans "Next " %}( {{ vote_nbr_to_handle }} )</a>
        </p>
    </body>
</html>
