{% load i18n %}
<!doctype html>
<html>
    <head>
        {% load static %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% trans "Prepare trivial transfer" %} - Cyclabilité</title>
        <link rel="stylesheet" href="{% static 'dist/app.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <div>
            <h2>Paramètres</h2>

            Buffer autour des anciens segments : {{ del_buffer_size }}<br>
            Buffer autour des nouveaux segments : {{ new_buffer_size }}<br>
            Nombre de segments dans le buffer : {{ seg_in_buffer }}<br>
        </div>

        <div>
            <h2>{% trans "Préparation des données" %}</h2>

            <div id="msg"></div>

            <div id="final_msg_ok" class="success msg hidden">
                <div>
                    {% trans "La préparation des données s'est bien déroulée, vous pouvez exécuter le transfert des votes :" %}
                </div>

                <ul>
                    <li><a href="{% url 'check_trivial_transfer' %}">{% trans "Vérification" %}</a></li>
                    <li><a href="{% url 'handle_trivial_transfer' vote_nbr_to_handle=50 %}">{% trans "Exécution (50)" %}</a></li>
                    <li><a href="{% url 'handle_trivial_transfer' vote_nbr_to_handle=250 %}">{% trans "Exécution (250)" %}</a></li>
                </ul>
            </div>

            <div id="final_msg_error" class="error msg hidden">
                {% trans "Erreur lors de la préparation des données" %}
            </div>
        </div>

        <script type="text/javascript">
            let reqs = [
                {'url': "{% url 'step1_clean_trivial_transfer_tables' new_buffer_size=new_buffer_size del_buffer_size=del_buffer_size seg_in_buffer=seg_in_buffer %}", 'msg': 'Initilisation'},
                {'url': "{% url 'step2_generate_cyclab_segments_l93_table' %}", 'msg': 'Préparation table CSL93'},
                {'url': "{% url 'step3_generate_cyclab_segments_l93_index' %}", 'msg': 'Préparation des index de la table CSL93'},
            ];
        </script>

        <script src="{% static 'dist/admin_trivial_prepare.js' %}"></script>
    </body>
</html>
