{% extends '../../base.html' %}
{% load i18n %}
    {% block content %}
    <div class="container subpages">
        <div class="inner-container">
            <h3 class="title">Transfert manuel des votes pour le segment #{{ deleted_segment_id }}</h3>

            <form method="post" action='/admin/vote-transfer/{{ deleted_segment_id }}/handle'>
                {% csrf_token %}
                <div class="vote-maps">
                    <div id="vote-info">
                        <h3 class="subtitle">Les votes</h4>
                        {% if votes %}
                        <ul>
                            {% for v in votes %}
                            <li>
                                <p style="font-size:0.75em; font-weight:400; color:black;">
                                    <span style="font-weight:880;">{{ v.vote_value }} / 5</span>
                                    (
                                    Auteur : {{ v.username }},
                                    {% if not v.reason_text  %}
                                    Raison : {{ v.reason_text }},
                                    {% endif %}
                                    {% if not v.direction  %}
                                    Direction : {{ direction }},
                                    {% endif %}
                                    )
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Il n'y a pas des votes liées à ce segment</p>
                        {% endif %}
                    </div>
                    <div id="maps-container">
                        <div id="map-from-container" class="map">
                            <div id="map-from" style="height:200px;"></div>
                        </div>
                        <div id="map-to-container" class="map">
                            <div id="map-to" style="height:200px;"></div>
                        </div>
                    </div>
                </div>
                <div id="transfer-vote-form">
                    <div class="input-fields">
                        <div class="label">
                            <label class='required' for="selectedMarkers">{% trans "Segments choisis" %}</label>
                        </div>
                        <div>
                            <input id="selectedMarkers" type="text" name="selectedMarkers" required="required" autofocus="autofocus" />
                        </div>

                        <div class="label">
                            <label class='required' for="selectedSegments">{% trans "Identifiants choisis" %}</label>
                        </div>
                        <div>
                            <input id="selectedSegments" type="text" name="selectedSegments" required="required" readonly="readonly" />
                        </div>
                    </div>
                    <div class="submit_btn">
                        <input class="btn bg-green" type="submit" value="Valider">
                    </div>
                </div>
            </form>

            <a href="{% url  'vote_in_frigo' deleted_segment_id=deleted_segment_id %}" class="btn bg-blue frigo-btn">{% trans "Set in frigo" %}</a>

            <div class="js-data"
                data-deleted-segment="{{ deleted_segment_json }}">
            </div>
        </div>
    </div>
        {% load static %}
        <script type="text/javascript" src="{% static 'dist/vote-transfer.js' %}"></script>
    {% endblock %}
