{% load i18n %}
<html>
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dist/app.css' %}" />
    <title>Cyclabilité</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>

